*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg,
video {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
}

body {
  font-family: "Ysabeau Infant", sans-serif;
  background-color: var(--body-background-color);
}
