/* || REUSABLE CSS || */

.section-container {
  max-width: 130rem;
  margin: 0 auto;
}

.section-title {
  font-size: var(--font-size-title-3);
  font-weight: 600;
  text-align: center;
  color: var(--text-color-green-dark);
  margin-bottom: var(--margin-3);
  font-family: "Ysabeau Infant", sans-serif;
  text-transform: capitalize;
}

/* FONT COLOR BOLDNESS */

.bold-dark--green {
  font-weight: 700;
  color: var(--text-color-green-dark);
}

.bold-dark--green-light {
  font-weight: 600;
  color: var(--text-color-green-dark);
}

.background-color__2 {
  /* background-color: #f5ebe0; */
  /* background-color: #fff4e0; */
  /* background-color: #fdf2df; */
  padding: 9.6rem 0;
  margin-bottom: var(--margin-5);
}

/* CALL TO ACTION BUTTON */

.accom-content__photo-box {
  position: relative;
  display: block;
}

/* .accom-content__photo-box::after {
  content: "Reserve";

  position: absolute;
  font-size: var(--font-size-5);
  font-weight: 700;
  color: var(--text-color-white);
  text-transform: uppercase;
  text-align: center;
  bottom: 5%;
  left: 50%;
  transform: translateX(-8.1rem);
  padding: 1.2rem 3rem;
  border-radius: 1rem;

  background-color: var(--reviews-bg-color);
  z-index: 999;

  transition: all 0.2s;
} */

.reserve-btn::after {
  content: "Reserve";
  position: absolute;
  display: inline;
  font-size: var(--font-size-5);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-color-white);
  background-color: var(--text-color-green-dark);

  border-radius: 1rem;

  bottom: 5%;
  left: 50%;
  transform: translateX(-11.1rem);
  padding: 1.2rem 6rem;

  transition: all 0.2s;
}

.reserve-btn:hover::after {
  cursor: pointer;
  background-color: #14aa32;
}
